
*.gz
.ipynb_checkpoints/TensorFlowBasic-checkpoint.ipynb
.ipynb_checkpoints/TensorFlowBasic-checkpoint.ipynb
__pycache__/utils.cpython-36.pyc
E:\tmp\1/events.out.tfevents.1512964528.JosipJuretas-MacBook-Pro-1468.local
.ipynb_checkpoints/TensorFlowBasic-checkpoint.ipynb
.ipynb_checkpoints/TensorFlowBasic-checkpoint.ipynb
.ipynb_checkpoints/TensorFlowBasicEnch-checkpoint.ipynb
.ipynb_checkpoints/TensorFlowBasicEnch-checkpoint.ipynb
.ipynb_checkpoints/TensorFlowBasic-checkpoint.ipynb

__pycache__/

TensorFlowBoard/tensor_flow_basic/

TensorFlowBoard/tensor_flow_ench/

\.ipynb_checkpoints/

cylinder_volume_trained/
.ipynb_checkpoints/TensorFlowBasic-checkpoint.ipynb
.ipynb_checkpoints/TensorFlowBasic-checkpoint.ipynb
.ipynb_checkpoints/ConvolutionalNetwork-checkpoint.ipynb
*.local
.ipynb_checkpoints/ConvolutionalNetwork-checkpoint.ipynb
.ipynb_checkpoints/TensorFlowBasic-checkpoint.ipynb
.ipynb_checkpoints/TensorFlowBasicEnch-checkpoint.ipynb

pred_basic.npy
